@model NWCodeFirstMVC.Domain.Models.Category
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    @*@Html.DropDownListFor(m => m.categories, new SelectList(Model.categoryList, "Value", "Text"))*@
</div>

